@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidi a <b>La Fabricapp CRUD</b></h1>
    <p class="lead">Navega por el sitio para administrar productos, categorías; y también ver algunas estadísticas</p>
</div>

