

@{
    ViewBag.Title = "Estadistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<double> lis_prom = ViewBag.lis_prom;
    List<int> lis_stock = ViewBag.lis_stock;
    List<String> lis_categoria = ViewBag.lis_categoria;
}
<div>
    <h2>Estadísticas</h2>
    @for (var i = 0; i < lis_stock.Count; i++)
    {

        <h4>Categoría: @lis_categoria[i]</h4>
        <p>Total de productos por categoria: @lis_stock[i]</p>
        <p>Promedio de precios: @lis_prom[i]</p>
        <br>

    }
</div>
