@model IEnumerable<VanesaMoraga_EVA2.Models.Producto>


@{
    ViewBag.Title = "Estadistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{       
    foreach (var item in Model)
    var newcat
}

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Porcentaje de productos por categoría'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Limpieza',
                    y: 6.41,
                }, {
                    name: 'comida',
                    y: 11.84
                    }, {
                        name: 'juguetes',
                        y:
                    }]
            }]
        });
    </script>

}

<h2>Estadísticas</h2>

<div id="container">
      
</div>

